<div style="height:50px;display: inline-block">
    <button [disabled]="!canOpenInnerDoor" (click)="openInnerDoor()" md-raised-button> {{ 'ACTIONS.OPENINNERDOOR' | translate }} </button>
</div>
<div style="height:50px;display: inline-block">
    <button [disabled]="!canCloseInnerDoor" (click)="closeInnerDoor()" md-raised-button> {{ 'ACTIONS.CLOSEINNERDOOR' | translate }} </button>
</div>
<div style="height:50px;display: inline-block">
    <button [disabled]="!canStepIn" (click)="stepIn()" md-raised-button> {{ 'ACTIONS.STEPIN' | translate }} </button>
</div>
<div style="height:50px;display: inline-block">
    <button [disabled]="!canStepOut" (click)="stepOut()" md-raised-button> {{ 'ACTIONS.STEPOUT' | translate }} </button>
</div>